#container{
    height: 300px;
    width: 80%;
    background-color: rgb(245, 243, 239);
    border: 2px solid black;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
h1{
    text-align: center;
}
#container div{
    height: 100px;
    width: 100px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}